#panel1
{
	position:absolute;
	top:0px;
	left:0px;
	height:100vh;
	width:50vw;
	overflow:auto;
}
#panel2
{
	position:absolute;
	top:0px;
	left:50vw;
	height:100vh;
	width:30vw;
	overflow:auto;
}
#panel3
{
	position:absolute;
	top:0px;
	left:80vw;
	height:100vh;
	width:20vw;
	overflow:auto;
}
#code
{
	width:100%;
	height:500px;
	resize: vertical;
}
#stack
{
}
.frame > label
{
	display:block;
}
.frame
{
	border:1px solid black;
}
.lines:nth-child(even)
{
	background-color:silver;
}